{% load i18n %}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}{{ page.title|default:"CG People" }}{% endblock %}</title>
  <meta name="description" content="{{ page.description }}">
  {# <meta name="viewport" content="width=device-width"> #}
  <meta name="viewport" content="initial-scale=1">
  <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />

<!--[if lte IE 8]>
<script style="text/javascript">
  window.location.href = '{{ site_url }}{% url ie-warning %}';
</script>
<![endif]-->

  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/template.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet/leaflet.css">
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet/leaflet.ie.css" /><![endif]-->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.jgrowl.css">

  {% block extra_css %}{% endblock %}

  <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body class="container">
  {% block header %}
  <header id="masthead" class="masthead clearfix">
    <div class="wrap clearfix">
      {% comment %}
      <h1 class="clearfix">
          <a href="{% url index %}"><span class="word1">CG</span> <span class="word2">P<span class="char2">e</span>ople</span></a>
      </h1>
      {% endcomment %}
      <a href="{{ site_url }}{% url index %}" class="logo"></a>

      <div class="clearfix" id="user_info">
        <a href="{{ site_url }}{% url browse %}" class="clearfix">{% trans 'Browse members' %}</a>
        {% if user.is_authenticated %}
          <a href="{{ site_url }}{% url profile-edit %}" class="clearfix settings">{% trans 'Edit Profile' %}</a>
          <a href="{{ site_url }}{% url messages_inbox %}" class="clearfix" id="messages_button">{% trans 'Messages' %}</a>
          <a href="{{ site_url }}{% url twitter-logout %}" class="clearfix">{% trans 'Logout' %}</a>

          <a href="{{ site_url }}{% url profile user.username %}" class="clearfix">
            <img src="http://img.tweetimag.es/i/{{ user.twitterinfo.name }}_m"
                alt="{{ user.twitterinfo.name }}"
                class="right" width="24" height="24"></a>
        {% else %}
          <a href="{{ site_url }}{% url twitter-login %}" class="button" id="twitter_account"><span></span>{% trans 'Your Account' %}</a>
        {% endif %}
      </div>
    </div>
  </header>
  {% endblock %}

  <div role="main">
    {% block body %}{% endblock %}

  <footer>
    <p class="">&copy; <a href="{{ site_url }}">CGPeople.me</a>. {% trans 'All rights reserved.' %} <a href="{{ site_url }}{% url privacy %}">{% trans 'Privacy' %}</a></p>
  </footer>

  </div>


  <!-- JavaScript at the bottom for fast page loading -->
  <script>MEDIA_URL="{{ STATIC_URL }}";</script>
  <script src="{{ STATIC_URL }}js/libs/yepnope.1.0.1-min.js"></script>
  <script src="{{ STATIC_URL }}js/loader.js"></script>
  {% if user.is_authenticated %}
  <script type="text/javascript">
    yepnope('{{ STATIC_URL }}js/message_counter.js');
  </script>
  {% endif %}
  {% block scripts %}{% endblock %}
  <!-- end scripts -->

  {% block ga %}
  <script>
    var _gaq = [['_setAccount', 'UA-30780707-1'],['_setDomainName', 'cgpeople.me'],['_trackPageview']];
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endblock %}
</body>
</html>
