{% extends "base.html" %}
{% load i18n %}
{% load markdown_deux_tags %}

{% block title %}{{ profile.name }} | CG People{% endblock %}
{% block ga %}{% endblock %}

{% block scripts %}
<script type="text/javascript">
    //yepnope('{{ STATIC_URL }}js/message_counter.js');
    var COORDS = '{"location": {"coords": {"latitude": {{ profile.latitude|default:"0.0" }}, "longitude": {{ profile.longitude|default:"0.0" }} }}}';
</script>
<script src="{{ STATIC_URL }}js/profile_loader.js"></script>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.tagsinput.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.autocomplete.css">
{% endblock %}


{% block body %}
<header class="sixteen columns alpha omega clearfix">
    <h1 id="page_title" class="eight columns alpha">{% trans 'Edit Your Profile' %}</h1>

    {% if profile.show_tweet %}
    <aside class="clearfix tweet_spread" id="tweet">
        <h2>{% trans 'Spread the word!' %}</h2>
        <a href="http://twitter.com/share" class="twitter-share-button"
            data-text="{% trans 'I just registered on CGPeople.me! #cgpeople.me' %}"
            data-url="http://cgpeople.me{{ profile.get_absolute_url }}"
            data-count="none"
            data-via="cgpeopleme" id="tweet_it">{% trans 'Tweet' %}</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <a id="hide_tweet" href="{% url profile-hide-tweet %}">{% trans 'hide' %}</a>
    </aside>
    {% endif %}
</header>

<div id="profile_info"  class="profile clearfix">
    <form action="{% url profile-save-profile %}" method="POST" id="profile_form">
        {% csrf_token %}
        <section>
            <h2>{% trans 'Your details' %}</h2>

            <p id="name_fieldset">
                <label for="id_name"><span class="req">*</span>{% trans 'Name' %}</label>

                {{ profile_form.name }}
            </p>
            <p id="bio_fieldset">
                <label for="id_bio">{% trans 'Bio' %}<span class="help">{% trans 'Tell us a bit about you' %}</span></label>

                {{ profile_form.bio }}
            </p>

            <p id="email_fieldset">
                <label for="id_email">{% trans 'Email' %}<span class="help">{% trans 'We&#39;ll need your email address to send you notices about messages.' %}</span></label>

                {{ profile_form.email }}
            </p>


            <p id="page_url_fieldset">
                <label for="id_page_url">{% trans 'Page URL' %}<span class="help">It's a paid service and cost $4/year.</span></label>

                <div class="page_url__wrap">
                    <span class="page_url__prefix">http://</span>{{ profile_form.page_url }}<span class="page_url__postfix">.cgpeople.me</span>
                </div>
            </p>

            <p id="skills_fieldset">
                <label for="id_skills">{% trans 'Skills' %}<span class="help">{% trans 'to pay the bills' %}</span></label>

                {{ profile_form.skills }}
            </p>

            <p id="available_for_fieldset">
                <label for="id_available_for"><span class="req">*</span>{% trans 'Available for' %}</label>

                {{ profile_form.available_for }}
            </p>

            <p id="facebook_username_fieldset">
                <label for="id_service_facebook">{% trans 'Facebook' %}<span class="help">Only username</span></label>
                {{ profile_form.service_facebook }}
            </p>

            <p id="linkedin_username_fieldset">
                <label for="id_service_linkedin">{% trans 'Linkedin' %}<span class="help">Only username</span></label>

                {{ profile_form.service_linkedin }}
            </p>

            <p id="freelancercom_fieldset">
                <label for="id_service_freelancercom">{% trans 'Freelancer.com' %}<span class="help">Full url including https://</span></label>

                {{ profile_form.service_freelancercom }}
            </p>

            <p id="flickr_fieldset">
                <label for="id_service_flickr">{% trans 'Flickr' %}<span class="help">Full url including https://</span></label>

                {{ profile_form.service_flickr }}
            </p>

            <p id="hide_from_search_fieldset">
                <label>{% trans 'Become a ghost' %}</label>

                {{ profile_form.hide_from_search }}<label for="id_hide_from_search" class="label">{% trans "I don't wanna that my profile will be shown in search results." %}</label>
            </p>
        </section>
        <p class="prepend-top">
            <button class="positive primary">{% trans 'Save' %}</button>
            <input type="submit" style="display:none">
        </p>
    </form>
</div>

<div id="map_holder" class="map clearfix">
    <h2>{% trans 'Your location' %}</h2>
    <div id="geo_map">
        <div id="geo_wrapper"></div>
    </div>
    <div>
        <p id="live_geolocation"></p>
        <form action="{% url profile-save-position %}" method="POST" class="clearfix">
            {% csrf_token %}
            <input type="hidden" name="latitude" value="{{ profile.latitude }}" id="id_latitude">
            <input type="hidden" name="longitude" value="{{ profile.longitude }}" id="id_longitude">

            <p class="clearfix">
                <button class="left" id="id_update_location">{% trans 'Update/Save' %}</button>
                <button class="right" id="location_search">{% trans 'Search' %}</button>
            </p>
        </form>
    </div>

    <section>
        <h2>{% trans 'Sites with your portfolio' %}</h2>

        {% for site in profile.portfoliosite_set.all %}
        <article class="portfolio-site prepend-top" data-id="{{ site.id }}" data-url="{{ site.url }}" data-name="{{ site.title }}" data-description="{{ site.description }}">
            <h4><a href="{{ site.url }}" target="_blank">{{ site.title }}</a></h4>
            <section>{{ site.description|markdown }}</section>
            <nav class="controls clearfix">
                <div class="clearfix left">
                    <button class="img edit edit_site left" href="#">{% trans 'Edit' %}</button>
                </div>
                <div class="clearfix right">
                    <button data-url="{% url profile-site-delete site.id %}"
                        class="delete_site right">{% trans 'Delete' %}</button>
                </div>
            </nav>
        </article>
        {% endfor %}

        <p><button id="add_site" data-url="{% url profile-site-add %}">{% trans 'Add a site' %}</button></p>
    </section>
</div>

<div class="clear clearfix">
    <a href="{% url profile-delete %}"
        class="right"
        title="{% trans 'Confirm on the next page' %}">{% trans 'Delete my account!' %}</a>
</div>

<div id="add_site_template" style="display:none">
    <form action="{% url profile-site-add %}" method="POST" class="add_site_form clearfix">
        {% csrf_token %}

        <p id="site_domain_fieldset">
            <label for="id_site_url">
                <span class="req">*</span>{% trans 'Site domain' %}<span class="help">{% trans 'Include http(s)://' %}</span></label>

            <input type="url" name="site_url" required maxlength="255" id="id_site_url" class="text">
        </p>

        <p id="site_name_fieldset">
            <label for="id_site_title"><span class="req">*</span>{% trans 'Site name' %}</label>

            <input type="text" name="site_title" required maxlength="255" id="id_site_title" class="text">
        </p>

        <p id="site_description_fieldset">
            <label for="id_site_description">{% trans 'Site description' %}<span class="help">{% trans 'Describe your involvement with the project' %}</span></label>

            <textarea name="site_description" rows="4" id="id_site_description" cols="40"></textarea>
        </p>

        <p class="eight columns alpha omega clearfix">
            <button class="two columns alpha">{% trans 'Save' %}</button>
            <button class="two columns negative">{% trans 'Cancel' %}</button>
            <input type="submit" style="display:none">
        </p>
    </form>
</div>

<div id="edit_site_template" style="display:none">
    <form action="{% url profile-site-edit %}" method="POST" class="edit_site_form clearfix">
        {% csrf_token %}
        <p id="site_domain_fieldset">
            <label for="id_site_url">
                <span class="req">*</span>{% trans 'Site domain' %}<span class="help">{% trans 'Include http(s)://' %}</span></label>
            <input type="url" name="site_url" required maxlength="255" id="id_site_url" class="text">
        </p>
        <p id="site_name_fieldset">
            <label for="id_site_title">
                <span class="req">*</span>{% trans 'Site name' %}</label>

            <input type="text" name="site_title" required maxlength="255" id="id_site_title" class="text">
        </p>

        <p id="site_description_fieldset">
            <label for="id_site_description">{% trans 'Site description' %}
                <span class="help">{% trans 'Describe your involvement with the project' %}</span></label>
            <textarea name="site_description" rows="4" id="id_site_description" cols="40"></textarea>
        </p>

        <p class="eight columns alpha omega clearfix">
            <input type="hidden" name="id" id="id_site_id">
            <button class="two columns alpha primary">{% trans 'Save' %}</button>
            <button class="two columns omega negative">{% trans 'Cancel' %}</button>
            <input type="submit" style="display:none">
        </p>
    </form>
</div>

<div id="geocode_search_template" style="display:none;">
    <form action="{% url geocode %}" method="POST" class="location_search_form right six columns omega">
        {% csrf_token %}
        <p id="search_fieldset">
            <label for="id_search"><span class="req">*</span>{% trans 'Search' %}</label>
            <input type="text" name="search" required placeholder="{% trans 'Enter a place name' %}" id="id_search" class="search">
        </p>

        <input type="submit" style="display:none">
        <button class="one columns">{% trans 'Find' %}</button>
        <button class="one columns omega negative">{% trans 'Close' %}</button>
    </form>
</div>
{% endblock %}
